$height-packages-head: 60px;
$height-packages-search: $height-button;
$width-packages-search: $width-button;
$height-packages-titles: 36px;
$height-settings-wrapper: $height-settings-wrapper;
$height-settings-head: $height-settings-head;
$clr-button-light: $clr-button-light;
$width-settings-wrapper: $width-settings-wrapper;

.packages-head {
	width: 100%;
	height: $height-packages-head;
	// border: 1px solid black;
	text-align: center;
}

.packages-head-item {
	margin-top: $mgn-larger;
	&:not(:nth-child(1)) {
		margin-left: ( $width-settings-wrapper - ( (2 * $width-button) + $width-packages-search ) ) / 4;
	}
}

.packages-search {
	height: $height-packages-search;
	width: $width-packages-search;
	line-height: $height-packages-search - 1px;
	padding: $pdg-base;
	display: inline-block;
	border: 1px solid $clr-button-light;
	outline: 0;
	transition: background-color 0.15s ease-in-out;
	text-align: center;
	font-size: $fs-small;
	&.is-active {
		background-color: $clr-button-light;
	}
}

.packages-body {
	width: 100%;
	height: $height-settings-wrapper - $height-settings-head - (2 * $bw-small) - $height-packages-head - $height-packages-titles;
	// border: 1px solid red;
}

.packages-titles {
	width: 100%;
	height: $height-packages-titles;
	font-size: $fs-base;
	font-weight: $fw-base;
	// border: 1px solid blue;
}

.packages-title {
	float: left;
	width: 50%;
	height: 100%;
	line-height: $height-packages-titles - 1px;
	text-align: center;
}

.packages-col {
	float: left;
	width: 50%;
	height: 100%;
	// border: 1px solid green;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;
}