$height-packages-head: 50px;
$height-packages-search: 30px;
$width-packages-search: 200px;
$height-packages-titles: 24px;
$height-settings-wrapper: $height-settings-wrapper;
$height-settings-head: $height-settings-head;

.packages-head {
	width: 100%;
	height: $height-packages-head;
	// border: 1px solid black;
}

.packages-search {
	height: $height-packages-search;
	width: $width-packages-search;
	float: left;
}

.packages-body {
	width: 100%;
	height: $height-settings-wrapper - $height-settings-head - (2 * $bw-base) - $height-packages-head - $height-packages-titles;
	// border: 1px solid red;
}

.packages-titles {
	width: 100%;
	height: $height-packages-titles;
	font-size: $fs-base;
	font-weight: $fw-base;
	// border: 1px solid blue;
}

.packages-title {
	float: left;
	width: 50%;
	height: 100%;
	line-height: $height-packages-titles - 1px;
	text-align: center;
}

.packages-col {
	float: left;
	width: 50%;
	height: 100%;
	// border: 1px solid green;
	overflow: scroll;
	text-align: center;
}