.color-wrapper {
	// border: 1px solid black;
	width: 100%;
	height: 70px;
	text-align: center;
}

.color {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	cursor: pointer;
	border: 4px solid white;
	&:not(:first-of-type) {
		margin-left: 40px;
	}
}

