$size-color: 70px;

.color-wrapper {
	// border: 1px solid black;
	width: 100%;
	height: $size-color;
	text-align: center;
	background-color: $clr-light;
}

.color {
	position: relative;
	display: inline-block;
	width: $size-color;
	height: $size-color;
	cursor: pointer;
	border: $bw-base solid $clr-light;
	&:not(:first-of-type) {
		margin-left: (2 * $mgn-larger);
	}
}

