$width-form-wrapper: $width-settings-wrapper;
$height-form-wrapper: $height-settings-wrapper;
$width-button: $width-button;
$clr-form-input-background: transparentize($clr-black, 0.6);
$clr-form-placeholder: transparentize($clr-white, 0.5);
$height-form-input: 30px;
$height-max-form-quote: 100px;

%form-input-area {
	outline: 0;
	border: 0;
	background-color: $clr-form-input-background;
	display: block;
	width: 100%;
	color: $clr-white;
	padding: $pdg-base;
	&::-webkit-input-placeholder {
		color: $clr-form-placeholder;
		line-height: ( $height-form-input - (2 * $pdg-base) ) - 1px;
	}
	&:-moz-placeholder {
		color: $clr-form-placeholder;
		line-height: ( $height-form-input - (2 * $pdg-base) ) - 1px;
	}
	&::-moz-placeholder {
		color: $clr-form-placeholder;
		line-height: ( $height-form-input - (2 * $pdg-base) ) - 1px;
	}
	&:-ms-input-placeholder {
		color: $clr-form-placeholder;
		line-height: ( $height-form-input - (2 * $pdg-base) ) - 1px;
	}
}

.form-wrapper {
	width: $width-form-wrapper;
	height: $height-form-wrapper;
	// border: 1px solid black;
}

.form-wrapper.ng-enter {
	transition: all 0.6s $ef-ease-out-back 0.2s;
	transform: translate(-50%, $pctg-transform-slab);
	opacity: 0;
}

.form-wrapper.ng-enter.ng-enter-active {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.form-wrapper.ng-leave {
	transition: all 0.6s $ef-ease-in-out-back;
	transform: translate(-50%, -50%);
	opacity: 1;
}

.form-wrapper.ng-leave.ng-leave-active {
	transform: translate(-50%, $pctg-transform-slab);
	opacity: 0;
}

.form-options {
	float: left;
	width: 100%;
	height: 9.1%; /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */
	// border: 1px solid black;
	text-align: center;
}

.form-options-button2 {
	display: inline-block;
	&:not(:nth-of-type(1)) {
		margin-left: $width-form-wrapper - (2 * $width-button);
	}
}

.form-options-button3 {
	@extend .form-options-button2;
	&:not(:nth-of-type(1)) {
		margin-left: ($width-form-wrapper - (3 * $width-button)) / 2;
	}
}

.form-name {
	float: left;
	width: 100%;
	height: 7.3%; /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */
	// border: 1px solid black;
}

.form-name-edit {
	height: $height-form-input;
	font-size: $fs-small;
	@extend %form-input-area;
}

.form-name-view {
	height: $height-form-input;
	font-size: $fs-small;
	color: $clr-white;
	padding: $pdg-base;
}

.form-quotes {
	float: left;
	width: 100%;
	height: 50%; /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */
	color: $clr-white;
	font-size: $fs-small;
	overflow-x: hidden;
	overflow-y: scroll;
	// border: 1px solid black;
	&.is-disabled {
		opacity: 0.2;
		pointer-events: none;
	}
}

.form-quotes-view {
	@extend .form-quotes;
	height: 83.6%; /* 9.1 + 7.3 + 83.6 */
}

%form-quote {
	margin-bottom: $mgn-large;
	padding: $pdg-base;
	line-height: $lh-loose;
	max-height: $height-max-form-quote;
}

%form-quote.ng-enter,
%form-quote.ng-leave,
%form-quote.ng-move, {
	transition: all 0.5s $ef-ease-in-out-back;
}

%form-quote.ng-enter,
%form-quote.ng-move, {
	opacity: 0;
	max-height: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

%form-quote.ng-enter.ng-enter-active,
%form-quote.ng-move.ng-move-active {
	opacity: 1;
	max-height: $height-max-form-quote;
	margin-bottom: $mgn-large;
	padding-top: $pdg-base;
	padding-bottom: $pdg-base;
}

%form-quote.ng-leave {
	opacity: 1;
	max-height: $height-max-form-quote;
	margin-bottom: $mgn-large;
	padding-top: $pdg-base;
	padding-bottom: $pdg-base;
}

%form-quote.ng-leave.ng-leave-active {
	opacity: 0;
	max-height: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.form-quote {
	@extend %form-quote;
	// border: 1px solid black;
	// both hovers are needed
	&:hover {
		background-color: $clr-form-input-background;
		cursor: pointer;
	}
	&.is-hover {
		@extend .form-quote:hover;
	}
}

.form-quote-view {
	@extend %form-quote;
}

.form-edit {
	float: left;
	width: 100%;
	height: 24.5%; /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */
	font-size: $fs-small;
	// border: 1px solid black;
}

.form-edit-text {
	@extend %form-input-area;
	resize: none;
	box-sizing: border-box;
	margin-top: $mgn-base;
	font-size: $fs-small;
	font-family: $ff-body;
	font-weight: $fw-light;
}

.form-edit-author {
	@extend %form-input-area;
	height: $height-form-input;
	margin-top: $mgn-base;
}

.form-edit-link {
	@extend %form-input-area;
	height: $height-form-input;
	margin-top: $mgn-base;
}

.form-editOptions {
	float: left;
	width: 100%;
	height: 9.1%; /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */
	// border: 1px solid black;
}

.form-editOptions-buttons {
	position: absolute;
	width: 100%;
	bottom: 0;
}