<div ng-controller="FormCtrl as form"
	class="form-wrapper u-centerXY"
	ng-if="home.show.form">

	<!-- form options -->
	<div class="form-options">
		<!-- skipping closing tags on purpose to remove default space between inline-block elements -->
		<button class="form-options-button button" ng-click="home.closeForm()">Cancel
		<button class="form-options-button button button--warning">Delete Package
		<button class="form-options-button button button--success" ng-click="form.createPackage()">Save Package
	</div>

	<!-- name -->
	<div class="form-name">
		<input type="text" 
			class="form-name-edit" 
			placeholder="Package Name"
			ng-model="form.packageName">
	</div>

	<!-- quotes -->
	<div class="form-quotes">
		<p class="form-quote" ng-repeat="quote in form.quotesAdded">
			{{ quote.body }} -{{ quote.author }}
		</p>
	</div>

	<!-- edit quote -->
	<div class="form-edit">

		<!-- body -->
		<textarea class="form-edit-text" rows="3" 
			placeholder="Text"
			ng-model="form.quoteCurrent.body"></textarea>

		<!-- author -->
		<input type="text" class="form-edit-author"
			placeholder="Author (optional)"
			ng-model="form.quoteCurrent.author">
		
		<!-- link -->
		<input type="text" class="form-edit-link"
			placeholder="Link (optional)"
			ng-model="form.quoteCurrent.link">

	</div>

	<!-- quote options -->
	<div class="form-editOptions">
		<div class="form-editOptions-buttons">
			<button class="button u-floatL">Clear Quote</button>
			<button class="button u-floatR" ng-click="form.addQuote()">Add Quote</button>
		</div>
	</div>



</div>