<button ng-click="sample.createPackage()">Create Package</button>

<br>

<input type="text" placeholder="Package Name" ng-model="sample.packageName">

<br>

<input type="text" placeholder="Quote" ng-model="sample.quote.body">

<br>

<input type="text" placeholder="Author" ng-model="sample.quote.author">

<br>

<input type="text" placeholder="Link" ng-model="sample.quote.link">

<br>

<button ng-click="sample.addQuote()">Add Quote</button>

<button ng-click="sample.savePackage()">Save Package</button>

<br>

packages:

<div ng-repeat="val in packages">
	{{ val.name }}
	<button ng-click="sample.addPackage(val.$id)">add</button>
</div>

<br>

created:

<div ng-repeat="val in created">
	{{ val.name }}
	<button ng-click="sample.addPackage(val.$id)">add</button>
</div>

<br>
<br>

subscribed:

<div ng-repeat="val in subscribed track by $index">
	{{ val.name }}
</div>

<br>


<button ng-click="sample.getQuotes()">Get Quotes</button>

<div ng-repeat="(key, value) in sample.allQuotes">
	{{ value.body }} -{{ value.author }}
</div>

<br>

<div ng-repeat="bundle in sample.myArray">
	quoteID: {{ bundle.quoteID }}
	<br>
	packageID: {{ bundle.packageID }}
</div>

<!-- <div ng-repeat="item in array">{{ item|json }}</div>
<button ng-click="pushA()">PUSH</button> -->

<button ng-click="sample.getQuote()">GET QUOTE</button>

<br>
<br>

quote: {{ sample.display.body }} -{{sample.display.author}}