<!-- HomeCtrl as home -->
<div class="home-wrapper u-bgc-{{ home.currentColor.name }}">
	
	<!-- quote -->
	<div class="quote-wrapper u-centerXY" 
		ng-class="{ 'is-blurred': home.show.settings || home.show.form }">
		<div class="quote">

			<!-- quote -->
			<i class="quote-icon icon ion-quote" ng-if="::home.quote.body" ></i>
			<p class="quote-body" ng-if="::home.quote.body" >{{ home.quote.body }}</p>
			<p class="quote-author" ng-if="::home.quote.author" >&#8212; {{ home.quote.author | uppercase }}</p>

			<!-- instructions -->
			<p class="quote-instructions" ng-if="::home.instructions">{{ home.instructions }}</p>

		</div>
	</div>

	<!-- settings button, link button -->
	<div class="home-options"
		ng-class="{ 'is-blurred': home.show.settings || home.show.form }">

		<i class="home-options-settings icon ion-gear-b"
			ng-click="home.show.settings = true"></i>
		
		<a ng-href="{{ home.quote.link }}"
			class="home-options-link"
			ng-class="{ 'is-disabled': !home.quote.link }">
			<i class="home-options-more icon ion-information-circled"></i>
		</a>

	</div>

	<!-- settings, form -->
	<div ng-if="home.isAuthenticated()">
		
		<!-- click to close settings -->
		<div class="settings-close" 
			ng-show="home.show.settings" 
			ng-click="home.show.settings = false"></div>

		<!-- settings -->
		<div ng-include="'components/settings/settings.html'"></div>

		<!-- form -->
		<div ng-include="'components/form/form.html'"></div>
		
	</div>
		
</div>









