<!-- HomeCtrl as home -->




<div class="home-wrapper u-bgc-{{ home.currentColor.name }}">
	

	


		<br>
		<br>

		<button ng-click="home.show.settings = !home.show.settings">Settings</button>
		<a ng-href="{{ home.quote.link }}">link</a>
	
	<!-- quote -->
	<div class="quote-wrapper u-centerXY" 
		ng-if="::home.quote.body" 
		ng-class="{ 'is-blurred': home.show.settings || home.show.form }">
		<div class="quote">
			<p class="quote-body">{{ home.quote.body }}</p>
			<p class="quote-author">&#8212; {{ home.quote.author | uppercase}}</p>
		</div>
	</div>

	<div ng-if="home.isAuthenticated()">
		
		<!-- click to close settings -->
		<div class="settings-close" 
			ng-show="home.show.settings" 
			ng-click="home.show.settings = false"></div>

		<!-- settings -->
		<div ng-include="'components/settings/settings.html'"></div>

		<!-- form -->
		<div ng-include="'components/form/form.html'"></div>
		
	</div>
		
	
	
</div>









