<!-- HomeCtrl as home -->




<div class="home-wrapper bgc-{{ home.currentColor.name }}">
	

	


		<br>
		<br>

		<button ng-click="home.show.settings = !home.show.settings">Settings</button>
		<button ng-click="home.show.form = !home.show.form">Form</button>
		<button ng-click="home.generateQuoteList()">Generate Quotes</button>
		<a ng-href="{{ home.quote.link }}">link</a>

		
	<!-- quote -->
	<div class="quote-wrapper u-centerXY" ng-if="::home.quote.body">
		<div class="quote">
			<p class="quote-body">{{ home.quote.body }}</p>
			<p class="quote-author">&#8212; {{ home.quote.author | uppercase}}</p>
		</div>
	</div>

	<div class="settings-backdrop" ng-if="home.show.settings" ng-click="home.show.settings = false"></div>

	<!-- settings -->
	<div ng-include="'components/settings/settings.html'"></div>

	<!-- form -->
	<div ng-if="home.show.form" 
		ng-include="'components/form/form.html'"></div>
	
</div>









