$height-quote-wrapper: 200px;
$width-quote-wrapper: 700px;
$clr-home-items: rgba(0, 0, 0, 0.4);
$clr-home-items-dark: rgba(0, 0, 0, 0.7);

%blur {
	opacity: 1;
	transition: filter 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.4s;
	&.is-blurred {
		filter: blur(8px);
		opacity: 0.5;
		transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
	}
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: $ff-body;
	font-weight: $fw-light;
}

.home-wrapper {
	width: 100%;
	height: 100%;
	transition: background-color ease-in-out 0.25s;
}

.quote-wrapper {
	// border: 1px solid red;
	height: $height-quote-wrapper;
	width: $width-quote-wrapper;
	display: table;
	@extend %blur;
}

.quote-wrapper.ng-enter {
	transition: all ease-in-out 1.5s;
	transform: translate(-50%, -35%);
	opacity: 0;
}

.quote-wrapper.ng-enter.ng-enter-active {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.quote {
	display: table-cell;
	vertical-align: middle;
	line-height: $lh-loose;
	color: $clr-white;
	// border: 1px solid black;
}

.quote-body {
	text-align: left;
	font-size: $fs-large;
	font-style: italic;
	// border: 1px solid black;
}

.quote-author {
	text-align: right;
	font-size: $fs-base;
	letter-spacing: $ls-looser;
	margin-top: $mgn-large;
	color: $clr-home-items;
	font-weight: $fw-base;
	// border: 1px solid black;
}

.home-options {
	// border: 1px solid black;
	width: 80px;
	height: 40px;
	position: absolute;
	bottom: 16px;
	right: 28px;
	color: $clr-home-items;
	@extend %blur;
}

%home-options-buttons {
	cursor: pointer;
	&:hover {
		color: $clr-home-items-dark;
	}
	&:active {
		color: $clr-home-items;
	}
}

.home-options-settings {
	float: left;
	font-size: 38px;
	@extend %home-options-buttons;
}

.home-options-more {
	float: right;
	font-size: 32px;
	margin-top: 4px;
	@extend %home-options-buttons;
	.home-options-link.is-disabled & {
		opacity: 0.2;
	}
}

.home-options-link {
	&.is-disabled {
		pointer-events: none;
	}
}