html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: inherit;
  color: inherit; }

/*
colors
 */
/*
font size
 */
/*
font weight
 */
/*
font family
 */
/*
letter spacing
 */
/*
line height
 */
/*
margin
 */
/*
padding
 */
/*
border width
 */
/*
easing functions
 */
/*
pctg
 */
.u-centerXY {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.u-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.u-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.u-oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.u-floatL {
  float: left; }

.u-floatR {
  float: right; }

.u-block {
  display: block; }

.u-inlineBlock {
  display: inline-block; }

.u-100X {
  width: 100%; }

.u-100Y {
  height: 100%; }

.u-100XY {
  width: 100%;
  height: 100%; }

.u-textLeft {
  text-align: left; }

.u-textCenter {
  text-align: center; }

.u-textRight {
  text-align: right; }

.u-bgc-blue {
  background-color: #284774; }

.u-bgc-bluegreen {
  background-color: #2e656f; }

.u-bgc-gray {
  background-color: #646464; }

.u-bgc-purple {
  background-color: #5f296a; }

.u-bgc-yellow {
  background-color: #a08300; }

.u-bgc-white {
  background-color: white; }

.button {
  height: 36px;
  width: 150px;
  font-size: 15px;
  font-weight: 400;
  border: 2px solid rgba(0, 0, 0, 0.55);
  color: rgba(0, 0, 0, 0.55);
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out;
          transition: color 0.15s ease-in-out; }
  .button:hover {
    border-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7); }
  .button:active {
    background-color: rgba(0, 0, 0, 0.4); }
  .button:disabled {
    opacity: 0.2;
    cursor: default;
    border: 2px solid rgba(0, 0, 0, 0.55);
    color: rgba(0, 0, 0, 0.55); }

.button--success {
  background-color: #77be77;
  border-color: #5f985f;
  color: white; }
  .button--success:hover {
    border-color: #4d7c4d;
    color: white; }
  .button--success:active {
    background-color: #6bab6b; }
  .button--success:disabled {
    border: 2px solid rgba(0, 0, 0, 0.55);
    color: white;
    background-color: #77be77;
    border-color: #5f985f; }

.button--warning {
  background-color: #ff6961;
  border-color: #cc544e;
  color: white; }
  .button--warning:hover {
    border-color: #a6443f;
    color: white; }
  .button--warning:active {
    background-color: #e65f57; }
  .button--warning:disabled {
    border: 2px solid rgba(0, 0, 0, 0.55);
    color: white;
    background-color: #ff6961;
    border-color: #cc544e; }

.button--active {
  background-color: rgba(0, 0, 0, 0.4); }
  .button--active:active {
    background-color: white; }

.quote-wrapper, .home-options {
  opacity: 1;
  -webkit-transition: -webkit-filter 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.4s, filter 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.4s;
          transition: -webkit-filter 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.4s, filter 0.2s ease-in-out 0.4s, opacity 0.2s ease-in-out 0.4s; }
  .is-blurred.quote-wrapper, .is-blurred.home-options {
    -webkit-filter: blur(8px);
            filter: blur(8px);
    opacity: 0.5;
    -webkit-transition: -webkit-filter 0.2s ease-in-out, opacity 0.2s ease-in-out, filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
            transition: -webkit-filter 0.2s ease-in-out, opacity 0.2s ease-in-out, filter 0.2s ease-in-out, opacity 0.2s ease-in-out; }

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.home-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transition: background-color ease-in-out 0.25s;
          transition: background-color ease-in-out 0.25s; }

.quote-wrapper {
  height: 200px;
  width: 700px;
  display: table; }

.quote {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.5;
  color: white; }

.quote-body {
  text-align: left;
  font-size: 26px;
  font-style: italic; }

.quote-instructions {
  text-align: left;
  font-size: 26px; }

.quote-body.ng-enter,
.quote-icon.ng-enter {
  -webkit-transition: all ease-out 1.5s;
          transition: all ease-out 1.5s;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0; }

.quote-body.ng-enter.ng-enter-active,
.quote-icon.ng-enter.ng-enter-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

.quote-author {
  text-align: right;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400; }

.quote-author.ng-enter {
  -webkit-transition: all ease-out 1.5s;
          transition: all ease-out 1.5s;
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0; }

.quote-author.ng-enter.ng-enter-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }

.quote-icon {
  position: relative;
  left: -30px;
  top: 30px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 30px; }

.home-options {
  width: 80px;
  height: 40px;
  position: absolute;
  bottom: 16px;
  right: 28px;
  color: rgba(0, 0, 0, 0.6); }

.home-options-settings, .home-options-more {
  cursor: pointer; }
  .home-options-settings:hover, .home-options-more:hover {
    color: rgba(0, 0, 0, 0.8); }
  .home-options-settings:active, .home-options-more:active {
    color: rgba(0, 0, 0, 0.6); }

.home-options-settings {
  float: left;
  font-size: 38px; }

.home-options-more {
  float: right;
  font-size: 32px;
  margin-top: 4px; }
  .home-options-link.is-disabled .home-options-more {
    opacity: 0.2; }

.home-options-link.is-disabled {
  pointer-events: none; }

.settings-wrapper {
  width: 650px;
  height: 550px;
  background-color: white;
  color: gray;
  border: 2px solid gray; }

.settings-wrapper.ng-hide-remove {
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
          transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
  -webkit-transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  opacity: 0; }

.settings-wrapper.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1; }

.settings-wrapper.ng-hide-add {
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1; }

.settings-wrapper.ng-hide-add.ng-hide-add-active {
  -webkit-transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  opacity: 0; }

.settings-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 646px;
  height: 60px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #cdcdcd;
  font-size: 16px;
  font-weight: 400; }

.settings-body {
  position: absolute;
  top: 60px;
  left: 0;
  width: 646px;
  height: 486px; }

.settings-tab {
  float: left;
  width: 33.33%;
  text-align: center;
  cursor: pointer; }
  .settings-tab.is-active {
    color: #2889e4; }

.settings-tab-icon, .settings-tab-icon--bigger {
  display: block;
  font-size: 30px;
  height: 36px; }
  .settings-tab-icon:before, .settings-tab-icon--bigger:before {
    line-height: 35px; }

.settings-tab-icon--bigger {
  font-size: 38px;
  /* account icon is naturally smaller, for some reason. so make it bigger to compensate */ }

.settings-tab-text {
  display: block;
  height: 24px;
  line-height: 23px; }

.settings-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.color-wrapper {
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: white; }

.color, .color--blue, .color--bluegreen, .color--gray, .color--purple, .color--yellow, .color--white {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border: 4px solid white; }
  .color:not(:first-of-type), .color--blue:not(:first-of-type), .color--bluegreen:not(:first-of-type), .color--gray:not(:first-of-type), .color--purple:not(:first-of-type), .color--yellow:not(:first-of-type), .color--white:not(:first-of-type) {
    margin-left: 50px; }

.color--blue {
  background-color: #284774; }
  .color--blue.is-active {
    border-color: #1e3557; }

.color--bluegreen {
  background-color: #2e656f; }
  .color--bluegreen.is-active {
    border-color: #234c53; }

.color--gray {
  background-color: #646464; }
  .color--gray.is-active {
    border-color: #4b4b4b; }

.color--purple {
  background-color: #5f296a; }
  .color--purple.is-active {
    border-color: #471f50; }

.color--yellow {
  background-color: #a08300; }
  .color--yellow.is-active {
    border-color: #786200; }

.color--white {
  background-color: white;
  outline: 1px solid #bfbfbf;
  outline-offset: -5px; }
  .color--white.is-active {
    border-color: #bfbfbf;
    outline: 0; }

.packages-head {
  width: 100%;
  height: 60px;
  text-align: center; }

.packages-head-item {
  margin-top: 20px; }
  .packages-head-item:not(:nth-child(1)) {
    margin-left: 50px; }

.packages-search {
  height: 36px;
  width: 150px;
  line-height: 35px;
  padding: 4px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: 0;
  -webkit-transition: background-color 0.15s ease-in-out;
          transition: background-color 0.15s ease-in-out;
  text-align: center;
  font-size: 15px; }
  .packages-search.is-active {
    background-color: #77be77; }

.packages-body {
  width: 100%;
  height: 390px; }

.packages-titles {
  width: 100%;
  height: 36px;
  font-size: 16px;
  font-weight: 400; }

.packages-title {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 35px;
  text-align: center; }

.packages-col {
  float: left;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center; }

.package, .package--subscribed, .package--all {
  height: 50px;
  width: 200px;
  border: 4px solid #cdcdcd;
  text-align: left;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  -webkit-transition: border-color 0.15s ease-out;
          transition: border-color 0.15s ease-out;
  cursor: pointer;
  opacity: 1; }

.package.ng-enter,
.ng-enter.package--subscribed,
.ng-enter.package--all,
.package.ng-leave,
.ng-leave.package--subscribed,
.ng-leave.package--all,
.package.ng-move, .ng-move.package--subscribed, .ng-move.package--all {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.package.ng-enter-stagger,
.ng-enter-stagger.package--subscribed,
.ng-enter-stagger.package--all,
.package.ng-leave-stagger, .ng-leave-stagger.package--subscribed, .ng-leave-stagger.package--all {
  -webkit-transition-delay: 0.01s;
          transition-delay: 0.01s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s; }

.package.ng-enter,
.ng-enter.package--subscribed,
.ng-enter.package--all,
.package.ng-move, .ng-move.package--subscribed, .ng-move.package--all {
  opacity: 0;
  height: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  margin-bottom: 0; }

.package.ng-enter.ng-enter-active,
.ng-enter.ng-enter-active.package--subscribed,
.ng-enter.ng-enter-active.package--all,
.package.ng-move.ng-move-active, .ng-move.ng-move-active.package--subscribed, .ng-move.ng-move-active.package--all {
  opacity: 1;
  height: 50px;
  border-top-width: 4px;
  border-bottom-width: 4px;
  margin-bottom: 10px; }

.package.ng-leave, .ng-leave.package--subscribed, .ng-leave.package--all {
  opacity: 1;
  height: 50px;
  border-top-width: 4px;
  border-bottom-width: 4px;
  margin-bottom: 10px; }

.package.ng-leave.ng-leave-active, .ng-leave.ng-leave-active.package--subscribed, .ng-leave.ng-leave-active.package--all {
  opacity: 0;
  height: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  margin-bottom: 0; }

.package--subscribed:hover {
  border-color: #ff6961; }

.package--all:hover {
  border-color: #77be77; }

.package-pri {
  height: 60%;
  width: 100%;
  font-size: 15px;
  display: table; }

.package-name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px; }

.package-sec {
  height: 40%;
  width: 100%;
  font-size: 11px;
  display: table;
  color: #a6a6a6;
  font-weight: 400; }

.package-author {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px; }

.package-length {
  width: 50%;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  padding-right: 4px; }

.package-options {
  position: absolute;
  height: 100%;
  width: 88px;
  top: 0;
  right: -4px;
  cursor: pointer; }

.package-options.ng-hide-add,
.package-options.ng-hide-remove {
  -webkit-transition: right 0.15s ease-in-out;
          transition: right 0.15s ease-in-out; }

.package-options.ng-hide-remove {
  right: -88px; }

.package-options.ng-hide-remove.ng-hide-remove-active {
  right: -4px; }

.package-options.ng-hide-add {
  right: -4px; }

.package-options.ng-hide-add.ng-hide-add-active {
  right: -88px; }

.package-view {
  float: left;
  height: 100%;
  width: 42px;
  background-color: #cdcdcd;
  text-align: center; }
  .package-view:active {
    background-color: #a4a4a4; }

.package-action, .package-action--subscribed, .package-action--all {
  float: left;
  height: 100%;
  width: 46px;
  text-align: center; }

.package-action--subscribed {
  background-color: #ff6961; }
  .package-action--subscribed:active {
    background-color: #cc544e; }

.package-action--all {
  background-color: #77be77; }
  .package-action--all:active {
    background-color: #5f985f; }

.package-button, .package-button--view {
  font-size: 26px;
  line-height: 41px;
  color: white; }

.package-button--view {
  color: gray; }

.username {
  width: 100%;
  height: 75px;
  text-align: center;
  margin-top: 50px; }

.username-input {
  height: 36px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-left: 10px;
  vertical-align: top;
  padding-left: 4px;
  outline: 0; }

.username-button {
  margin-left: 50px; }

.username-feedback {
  float: left;
  width: 100%;
  margin-top: 10px; }
  .username-feedback.is-success {
    color: #77be77; }
  .username-feedback.is-warning {
    color: #ff6961; }

.username-feedback.ng-hide-add,
.username-feedback.ng-hide-remove {
  -webkit-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out; }

.username-feedback.ng-hide-remove {
  opacity: 0; }

.username-feedback.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

.username-feedback.ng-hide-add {
  opacity: 1; }

.username-feedback.ng-hide-add.ng-hide-add-active {
  opacity: 0; }

.form-name-edit, .form-edit-text, .form-edit-author, .form-edit-link {
  outline: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  width: 100%;
  color: white;
  padding: 4px; }
  .form-name-edit::-webkit-input-placeholder, .form-edit-text::-webkit-input-placeholder, .form-edit-author::-webkit-input-placeholder, .form-edit-link::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    line-height: 21px; }
  .form-name-edit:-moz-placeholder, .form-edit-text:-moz-placeholder, .form-edit-author:-moz-placeholder, .form-edit-link:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    line-height: 21px; }
  .form-name-edit::-moz-placeholder, .form-edit-text::-moz-placeholder, .form-edit-author::-moz-placeholder, .form-edit-link::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    line-height: 21px; }
  .form-name-edit:-ms-input-placeholder, .form-edit-text:-ms-input-placeholder, .form-edit-author:-ms-input-placeholder, .form-edit-link:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    line-height: 21px; }

.form-wrapper {
  width: 650px;
  height: 550px; }

.form-wrapper.ng-enter {
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
          transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
  -webkit-transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  opacity: 0; }

.form-wrapper.ng-enter.ng-enter-active {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1; }

.form-wrapper.ng-leave {
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1; }

.form-wrapper.ng-leave.ng-leave-active {
  -webkit-transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  opacity: 0; }

.form-options {
  float: left;
  width: 100%;
  height: 9.1%;
  /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */
  text-align: center; }

.form-options-button2, .form-options-button3 {
  display: inline-block; }
  .form-options-button2:not(:nth-of-type(1)), .form-options-button3:not(:nth-of-type(1)) {
    margin-left: 350px; }

.form-options-button3:not(:nth-of-type(1)) {
  margin-left: 100px; }

.form-name {
  float: left;
  width: 100%;
  height: 7.3%;
  /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */ }

.form-name-edit {
  height: 30px;
  font-size: 15px; }

.form-name-view {
  height: 30px;
  font-size: 15px;
  color: white;
  padding: 4px; }

.form-quotes, .form-quotes-view {
  float: left;
  width: 100%;
  height: 50%;
  /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */
  color: white;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: scroll; }
  .form-quotes.is-disabled, .is-disabled.form-quotes-view {
    opacity: 0.2;
    pointer-events: none; }

.form-quotes-view {
  height: 83.6%;
  /* 9.1 + 7.3 + 83.6 */ }

.form-quote, .form-quote-view {
  margin-bottom: 10px;
  padding: 4px;
  line-height: 1.5; }

.form-quote:hover, .form-quote.is-hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.form-edit {
  float: left;
  width: 100%;
  height: 24.5%;
  /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */
  font-size: 15px; }

.form-edit-text {
  resize: none;
  box-sizing: border-box;
  margin-top: 4px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.form-edit-author {
  height: 30px;
  margin-top: 4px; }

.form-edit-link {
  height: 30px;
  margin-top: 4px; }

.form-editOptions {
  float: left;
  width: 100%;
  height: 9.1%;
  /* 9.1 + 7.3 + 50 + 24.5 + 9.1 */ }

.form-editOptions-buttons {
  position: absolute;
  width: 100%;
  bottom: 0; }
