html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
colors
 */
/*
font size
 */
/*
font weight
 */
/*
letter spacing
 */
/*
line height
 */
/*
margin
 */
/*
padding
 */
/*
border width
 */
.u-centerXY {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.u-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.u-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.u-oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.u-floatL {
  float: left; }

.u-floatR {
  float: right; }

.u-block {
  display: block; }

.u-100X {
  width: 100%; }

.u-100Y {
  height: 100%; }

.u-100XY {
  width: 100%;
  height: 100%; }

.u-textLeft {
  text-align: left; }

.u-textCenter {
  text-align: center; }

.u-textRight {
  text-align: right; }

.button {
  float: right;
  height: 40px;
  width: 160px;
  font-size: 16px;
  border: 4px solid #cdcdcd;
  color: #cdcdcd;
  background-color: transparent;
  outline: 0; }
  .button:hover {
    border-color: gray;
    color: gray; }
  .button:active {
    background-color: #cdcdcd; }

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.home-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: background-color ease-in-out 0.25s;
          transition: background-color ease-in-out 0.25s; }

.quote-wrapper {
  height: 200px;
  width: 700px;
  display: table; }

.quote-wrapper.ng-enter {
  -webkit-transition: all ease-in-out 1.5s;
          transition: all ease-in-out 1.5s;
  -webkit-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  opacity: 0; }

.quote-wrapper.ng-enter.ng-enter-active {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1; }

.quote {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.5;
  color: white; }

.quote-body {
  text-align: left;
  font-size: 26px;
  font-style: italic; }

.quote-author {
  text-align: right;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px; }

.settings-wrapper {
  width: 750px;
  height: 400px;
  background-color: white;
  color: gray;
  border: 4px solid gray; }

.settings-wrapper.ng-enter,
.settings-wrapper.ng-leave {
  -webkit-transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
          transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s; }

.settings-wrapper.ng-enter {
  -webkit-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  opacity: 0; }

.settings-wrapper.ng-enter.ng-enter-active {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1; }

.settings-wrapper.ng-leave {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1; }

.settings-wrapper.ng-leave.ng-leave-active {
  -webkit-transform: translate(-50%, -35%);
      -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  opacity: 0; }

.settings-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 742px;
  height: 60px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #cdcdcd;
  font-size: 16px;
  font-weight: 400; }

.settings-body {
  position: absolute;
  top: 60px;
  left: 0;
  width: 742px;
  height: 332px; }

.settings-tab {
  float: left;
  width: 33.33%;
  text-align: center;
  cursor: pointer; }
  .settings-tab.is-active {
    color: #2889e4; }

.settings-tab-icon, .settings-tab-icon--bigger {
  display: block;
  font-size: 30px;
  height: 36px; }
  .settings-tab-icon:before, .settings-tab-icon--bigger:before {
    line-height: 35px; }

.settings-tab-icon--bigger {
  font-size: 38px;
  /* account icon is naturally smaller, for some reason. so make it bigger to compensate */ }

.settings-tab-text {
  display: block;
  height: 24px;
  line-height: 23px; }

.settings-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.settings-backdrop.ng-hide-remove {
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  background-color: transparent; }

.settings-backdrop.ng-hide-remove.ng-hide-remove-active {
  background-color: rgba(0, 0, 0, 0.5); }

.settings-backdrop.ng-hide-add {
  -webkit-transition: background-color 0.2s ease-out 0.4s;
          transition: background-color 0.2s ease-out 0.4s;
  background-color: rgba(0, 0, 0, 0.5); }

.settings-backdrop.ng-hide-add.ng-hide-add-active {
  background-color: transparent; }

.color-wrapper {
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: white; }

.color, .color--red-pastel, .color--green-pastel, .color--blue-pastel, .color--gray-pastel, .color--white {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border: 4px solid white; }
  .color:not(:first-of-type), .color--red-pastel:not(:first-of-type), .color--green-pastel:not(:first-of-type), .color--blue-pastel:not(:first-of-type), .color--gray-pastel:not(:first-of-type), .color--white:not(:first-of-type) {
    margin-left: 40px; }

.color--red-pastel {
  background-color: #ff6961; }
  .color--red-pastel.is-active {
    border-color: #bf4f49; }

.color--green-pastel {
  background-color: #77be77; }
  .color--green-pastel.is-active {
    border-color: #598f59; }

.color--blue-pastel {
  background-color: #779ecb; }
  .color--blue-pastel.is-active {
    border-color: #597798; }

.color--gray-pastel {
  background-color: #cfcfc4; }
  .color--gray-pastel.is-active {
    border-color: #9b9b93; }

.color--white {
  background-color: white;
  outline: 1px solid #bfbfbf;
  outline-offset: -5px; }
  .color--white.is-active {
    border-color: #bfbfbf;
    outline: 0; }

.bgc-red-pastel {
  background-color: #ff6961; }

.bgc-green-pastel {
  background-color: #77be77; }

.bgc-blue-pastel {
  background-color: #779ecb; }

.bgc-gray-pastel {
  background-color: #cfcfc4; }

.bgc-white {
  background-color: white; }

.packages-head {
  width: 100%;
  height: 50px; }

.packages-search {
  height: 30px;
  width: 200px;
  float: left; }

.packages-body {
  width: 100%;
  height: 258px;
  height: 258px; }

.packages-titles {
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 400; }

.packages-title {
  float: left;
  width: 33.33%;
  height: 100%;
  line-height: 23px;
  text-align: center; }

.packages-col {
  float: left;
  width: 33.33%;
  height: 100%;
  overflow: scroll;
  text-align: center; }

.package, .package--subscribed, .package--own, .package--all {
  height: 50px;
  width: 200px;
  border: 4px solid #cdcdcd;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  -webkit-transition: border-color 0.15s ease-in-out;
          transition: border-color 0.15s ease-in-out;
  cursor: pointer; }

.package--subscribed:hover {
  border-color: #ff6961; }

.package--own:hover {
  border-color: #77be77; }

.package--all:hover {
  border-color: #77be77; }

.package-pri {
  height: 60%;
  width: 100%;
  font-size: 15px;
  display: table; }

.package-name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px; }

.package-sec {
  height: 40%;
  width: 100%;
  font-size: 11px;
  display: table; }

.package-author {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 4px; }

.package-length {
  width: 50%;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  padding-right: 4px; }

.package-options {
  position: absolute;
  height: 100%;
  width: 92px;
  top: 0;
  right: -4px;
  cursor: pointer; }

.package-options.ng-hide-add,
.package-options.ng-hide-remove {
  -webkit-transition: right 0.15s ease-in-out;
          transition: right 0.15s ease-in-out; }

.package-options.ng-hide-remove {
  right: -92px; }

.package-options.ng-hide-remove.ng-hide-remove-active {
  right: -4px; }

.package-options.ng-hide-add {
  right: -4px; }

.package-options.ng-hide-add.ng-hide-add-active {
  right: -92px; }

.package-view {
  float: left;
  height: 100%;
  width: 42px;
  background-color: #cdcdcd;
  text-align: center; }

.package-action, .package-action--subscribed, .package-action--own, .package-action--all {
  float: left;
  height: 100%;
  width: 50px;
  text-align: center; }

.package-action--subscribed {
  background-color: #ff6961; }

.package-action--own {
  background-color: #77be77; }

.package-action--all {
  background-color: #77be77; }

.package-button, .package-button--view {
  font-size: 26px;
  line-height: 41px;
  color: white; }

.package-button--view {
  color: gray; }
