$height-button: 36px;
$width-button: 150px;
$clr-button-dark: transparentize($clr-black, 0.5);
$clr-button-base: transparentize($clr-black, 0.6);
$clr-button-light: transparentize($clr-black, 0.8);

@mixin button-color($color) {
	background-color: $color;
	border-color: shade($color, 20%);
	color: $clr-white;
	&:hover {
		border-color: shade($color, 35%);
		color: $clr-white;
	}
	&:active {
		background-color: shade($color, 10%);
	}
}

.button {
	height: $height-button;
	width: $width-button;
	font-size: $fs-small;
	font-weight: $fw-base;
	border: $bw-base solid $clr-button-base;
	color: $clr-button-base;
	background-color: transparent;
	outline: 0;
	cursor: pointer;
	transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
	&:hover {
		border-color: $clr-button-dark;
		color: $clr-button-dark;
	}
	&:active {
		background-color: $clr-button-light;
	}
}

.button--success {
	@include button-color($clr-green-pastel);
}

.button--warning {
	@include button-color($clr-red-pastel);
}

.button--active {
	background-color: $clr-button-light;
	&:active {
		background-color: $clr-white;
	}
}