// DISPLAY/POSITION
.u-centerXY {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.u-centerX {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.u-centerY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.u-oneLine {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.u-floatL {
	float: left;
}

.u-floatR {
	float: right;
}

.u-block {
	display: block;
}

.u-inlineBlock {
	display: inline-block;
}

.u-100X {
	width: 100%;
}

.u-100Y {
	height: 100%;
}

.u-100XY {
	width: 100%;
	height: 100%;
}

.u-textLeft {
	text-align: left;
}

.u-textCenter {
	text-align: center;
}

.u-textRight {
	text-align: right;
}

.u-bgc-blue {
	background-color: $clr-blue;
}

.u-bgc-bluegreen {
	background-color: $clr-bluegreen;
}

.u-bgc-gray {
	background-color: $clr-gray;
}

.u-bgc-purple {
	background-color: $clr-purple;
}

.u-bgc-yellow {
	background-color: $clr-yellow;
}

.u-bgc-white {
	background-color: $clr-white;
}