// colors
$clr-white: rgba(255, 255, 255, 1.0);
$clr-black: rgba(0, 0, 0, 1.0);

$clr-light: $clr-white;

// $clr-gray-darker: 
$clr-gray-dark: rgba(128, 128, 128, 1.0);
// $clr-gray-base: 
$clr-gray-light: rgba(205, 205, 205, 1.0);
$clr-gray-lighter: rgba(240, 240, 240, 1.0);

$clr-blue-active: rgba(40, 137, 228, 1.0);

$clr-red-pastel: rgba(255, 105, 97, 1.0);
$clr-green-pastel: rgba(119, 190, 119, 1.0);

// fontsize

// font family

// font weight

// letter spacing

// margin

// border size