.settings-wrapper {
	// border: 1px solid black;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
	width: 750px;
	height: 400px;
	background-color: white;
	color: gray;
	border: 4px solid rgba(140, 140, 140, 1.0);
}

.settings-wrapper.ng-enter,
.settings-wrapper.ng-leave {
	transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
}

.settings-wrapper.ng-enter {
	transform: translate(-50%, -35%);
	opacity: 0;
}

.settings-wrapper.ng-enter-active {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.settings-wrapper.ng-leave {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.settings-wrapper.ng-leave-active {
	transform: translate(-50%, -35%);
	opacity: 0;
}

.settings-head {
	// border: 1px solid black;
	position: absolute;
	top: 0;
	left: 0;
	width: 750px - 8px;
	height: 60px;
	background-color: rgba(240, 240, 240, 1.0);
	border-bottom: 1px solid rgba(220, 220, 220, 1.0);
	font-size: 16px;
}

.settings-body {
	// border: 1px solid red;
	position: absolute;
	top: 60px;
	left: 0px;
	width: 750px - 8px;
	height: 400px - 60px - 8px;
}

.settings-tab {
	float: left;
	width: 33.33%;
	text-align: center;
	cursor: pointer;
	// border: 1px solid green;
	&.is-active {
		color: rgba(40, 137, 228, 1.0);
	}
}

.settings-tab-icon {
	display: block;
	font-size: 30px;
	height: 40px;
	&:before {
		line-height: 39px;
	}
}

.settings-tab-icon--bigger {
	@extend .settings-tab-icon;
	font-size: 38px;
}

.settings-tab-text {
	display: block;
	height: 16px;
	line-height: 15px;
}